{{!-- {{#each userArray}} --}}
{{#each rdvArray}}

<div class="card-session">
  <div class="session-content-left">
    <h3>{{this.location}}</h3>
    <p>{{this.sport}} with @AlexJoly</p>


    <img class="profile-pic" src="{{this.userIcon}}" alt="pic" />

  </div>
  <div class="session-content-right">
    <h4>{{this.formatedDay}}. {{this.formatedDayNum}}</h4>
    <p class="month"><b>{{this.formatedMonth}}</b></p>
    <p class="hour">{{this.time}}</p>

  </div>
</div>
{{/each}}
{{!-- {{/each}} --}}