{{#each rdvArray}}

<div class="card-session">
  <div class="session-content-left">
    <h3>{{this.location}}</h3>
    <p>{{this.sport}} with @AlexJoly</p>

  </div>
  <div class="session-content-right">
    <p class="month"><b>{{this.formatedMonth}}</b></p>
    <h4>{{this.formatedDay}}. {{this.formatedDayNum}}</h4>
    <p class="hour">{{this.time}}</p>

  </div>
</div>

{{/each}}


{{!-- {{#each userArray}}
<img class="profile-pic" src="{{this.pictureUrl}}" alt="pic" />
{{/each}} --}}