<a href="/gym-list">Go back to the list</a>

<h2>{{gymItem.name}}</h2>


<p>Address: {{gymItem.address}}, {{gymItem.arrondissement}}</p>
<p>Metro Stop: {{gymItem.metroStop}}</p> <img src="{{gymItem.metroLine}}" alt="">
<p>Telephone: {{gymItem.phone}}</p>
<p>Sports Available :</p>
<ul>
  {{#each gymItem.sports}}
  <li>
    {{this}}
    {{/each}}
  </li>
</ul>
<p>Disabled Access: {{gymItem.disabledAccess}}</p>
<iframe src="{{gymItem.map}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>