<a href="/pool-list">Go back to the list</a>

<h2>{{poolItem.name}}</h2>


<p>Address: {{poolItem.address}}, {{poolItem.arrondissement}}</p>
<p>Metro Stop: {{poolItem.metroStop}}</p> <img src="{{poolItem.metroLine}}" alt="">
<p>Telephone: {{poolItem.phone}}</p>
<p>Activities Available :</p>
<ul>
  {{#each poolItem.activities}}
  <li>
    {{this}}
    {{/each}}
  </li>
</ul>
<p>Disabled Access: {{poolItem.disabledAccess}}</p>
<iframe src="{{poolItem.map}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>